*{
    margin: 0;
    padding: 0;
}
.heading{
    color: blue;
    text-align: center;
    background-color: rgb(164, 229, 229);
    font-size: 30px;

}
.nav-bar .ul li{
    display: block;

}
@media  screen and (max-width:295px) {
    .heading{
        font-size: 15px;
    }
}